
  table {
    border-collapse: collapse;
    color: #333;
    margin: auto;
    word-break: break-word;
  }

  tr:nth-child(odd) {
    background: #eee;
  }

  tr:first-child {
    background: white;
  }

  td, th {
    border: 1px solid #ccc;
    padding: 0.5em;
    font-size: 7px;
  }

  th {
    border: none;
    text-align: center;
  }

  h2 {
    font-size: 12px;
  }