 <div id="loadingModalContent">
            <div class="modalBackground">
               <div class="align"></div>
               <div id="loadingMessage">
                  <div class="lds-roller">
                     <div></div>
                     <div></div>
                     <div></div>
                     <div></div>
                     <div></div>
                     <div></div>
                     <div></div>
                     <div></div>
                  </div>
                  <div id="loadingMessageText">{{message}}</div>
               </div>
            </div>