.imgLeftMenu
{
	
    background: url("../../assets/images/img_accueil.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 50%;
	height:400px;
	vertical-align:middle;	
}

.menu
{
	display:inline-block;
	width:40%;
	vertical-align: middle;
	
}